extends layout
block title
    title!=title
block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li.active
                a(href='/products') 商品列表
            li
                a(href='/about') 关于
block content
    ol.breadcrumb
        li
            a(href='/products') 商品列表
        li.active!=title
    .container
        div=product.title
        #pictures.carousel.slide
            ol.carousel-indicators
                each picture, index in product.pictures
                    if index == 0
                        li.active(data-target='#pictures', data-slide-to='#{index}')
                    else
                        li(data-target='#pictures', data-slide-to='#{index}')
            .carousel-inner
                each picture, index in product.pictures
                    if index == 0
                        .item.active
                            img(src='/images/#{picture.name}', alt='#{picture.originalname}')
                    else
                        .item
                            img(src='/images/#{picture.name}', alt='#{picture.originalname}')
            a.left.carousel-control(href='#pictures', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#pictures', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        if product.bidders.name
            h4 当前价 #{product.bidders.price.toFixed(2)}元
                small.text-muted &nbsp;&nbsp;&nbsp;&nbsp;起拍价 #{product.startPrice.toFixed(2)}元
                small &nbsp;&nbsp;&nbsp;&nbsp;出价人 #{product.bidders.name}
                small &nbsp;&nbsp;&nbsp;&nbsp;已有 #{bidnum} 人参与竞拍
        else
            h4 当前价 #{product.startPrice.toFixed(2)}元
                small.text-muted &nbsp;&nbsp;&nbsp;&nbsp;起拍价 #{product.startPrice.toFixed(2)}元
                small &nbsp;&nbsp;&nbsp;&nbsp;还没有人出价

        h4#bidStatus
        form(class='form-horizontal', method='post', action='/product/#{product._id}/bid', id='bidForm')
            fieldset
                #bidErr
                .form-group
                    label(class='control-label col-xs-3' for='price') 出价
                    .col-xs-9
                        input(type='text', class='form-control', id='price', name='price', required,value='#{price}')
                .form-group
                    label(class='control-label col-xs-3' for='name') 姓名
                    .col-xs-9
                        input(type='text', class='form-control', id='name', name='name', required,value='#{name}')
                .form-group
                    label(class='control-label col-xs-3' for='phone') 手机
                    .col-xs-9
                        input(type='text', class='form-control', id='phone', name='phone', required,value='#{phone}')
                .form-group
                    .col-xs-9.col-xs-offset-3
                        button(type='submit', class='btn btn-primary') 立即出价
block append script
    script(src='/javascripts/jquery.form.min.js')

    script(type='text/javascript').
        $(document).ready(function () {
            $('#bidForm').ajaxForm(function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    $('#bidErr').html(responseJSON.msg).addClass('alert alert-danger')
                } else if (responseJSON.code == 'success') {
                    window.location.href = '/product/#{product._id}'
                }
            })

            var now = new Date();
            var difference = now.getTime() - #{new Date().getTime()}
            setInterval(function () {
                var endTime = #{product.end.getTime()} + difference;
                var startTime = #{product.start.getTime()} + difference;
                var nowTime = new Date().getTime();
                if (startTime > nowTime) {
                    var nMS = startTime - nowTime;
                    var myD = Math.floor(nMS / (1000 * 60 * 60 * 24));
                    var myH = Math.floor(nMS / (1000 * 60 * 60)) % 24;
                    var myM = Math.floor(nMS / (1000 * 60)) % 60;
                    var myS = Math.floor(nMS / 1000) % 60;
                    var str = "还有 " + myD + "天" + myH + "小时" + myM + "分" + myS + "秒 开始";
                    $("#bidForm").hide();
                } else if (startTime < nowTime && endTime > nowTime) {
                    var nMS = endTime - nowTime;
                    var myD = Math.floor(nMS / (1000 * 60 * 60 * 24));
                    var myH = Math.floor(nMS / (1000 * 60 * 60)) % 24;
                    var myM = Math.floor(nMS / (1000 * 60)) % 60;
                    var myS = Math.floor(nMS / 1000) % 60;
                    var str = "还有 " + myD + "天" + myH + "小时" + myM + "分" + myS + "秒 结束";
                } else {
                    var str = "已结束！";
                    $("#bidForm").hide();
                }
                $("#bidStatus").html(str);
            }, 1000);
        });
