extends ../layout
block title
    title!=title
block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li
                a(href='/manage/products') 商品管理
            li
                a(href='/manage/pictures') 图片管理
            if user.type == 1
                li
                    a(href='/manage/users') 用户管理
            li.active
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/logout') 注销
block content
        ol.breadcrumb
            li
                a(href='/manage/user') 资料管理
            li.active!=title
        .container
            .col-md-6(class='col-md-offset-2')
                form(class='form-horizontal', method='post', action='/manage/modifyUser', id='modifyForm')
                    fieldset
                        #modifyErr
                        .form-group
                            label(class='control-label col-md-3' for='email') 电子邮件
                            .col-md-6
                                input(type='text', class='form-control', id='email', name='email', placeholder='电子邮件', required, value=user.email)
                        .form-group
                            label(class='control-label col-md-3' for='phone') 电话
                            .col-md-6
                                input(type='text', class='form-control', id='phone', name='phone', placeholder='电话', required, value=user.phone)
                        .form-group
                            label(class='control-label col-md-3' for='password') 密码
                            .col-md-6
                                input(type='password', class='form-control', id='password', name='password', placeholder='密码', required, value=user.password)
                        .form-group
                            label(class='control-label col-md-3' for='rePassword') 请再次输入密码
                            .col-md-6
                                input(type='password', class='form-control', id='rePassword', name='rePassword', placeholder='请再次输入密码', required, value=user.password)
                        .form-group
                            div(class='col-md-offset-3 col-md-6')
                                button(type='submit', class='btn btn-primary') 修改
block append script
    script(src='/javascripts/jquery.form.min.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#modifyForm').ajaxForm(function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    $('#modifyErr').html(responseJSON.msg).addClass('alert alert-danger')
                } else if (responseJSON.code == 'success') {
                    window.location.href = '/manage/user'
                }
            })
        });