extends ../layout
block title
    title!=title
block append css
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.cleditor.css')
    link(rel='stylesheet', href='/stylesheets/fileinput.min.css')

block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li.active
                a(href='/manage/products') 商品管理
            if user.type == 1
                li
                    a(href='/manage/users') 用户管理
            li
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/logout') 注销
block content
    ol.breadcrumb
        li
            a(href='/manage/products') 商品管理
        li.active!=title
    form(class='form-horizontal', method='post', action='/manage/modifyProduct/#{product._id}', id='modifyProductForm', enctype='multipart/form-data')
        fieldset
            #modifyProductErr
            .form-group
                .col-md-11(class='col-md-offset-1')
                    input(class='file', type='file', id='oldPictures', name='oldPictures')
            .form-group
                label(class='control-label col-md-1' for='pictures') 图片
                .col-md-11
                    input(class='file', type='file', id='pictures', name='pictures', multiple)
            .form-group
                label(class='control-label col-md-1' for='startPrice') 起拍价
                .col-md-3
                    input(type='text', class='form-control', id='startPrice', name='startPrice', placeholder='起拍价', required, value='#{product.startPrice}')
            .form-group
                label(class='control-label col-md-1' for='markup') 加价幅度
                .col-md-3
                    input(type='text', class='form-control', id='markup', name='markup', placeholder='加价幅度', required, value='#{product.markup}')
            .form-group
                label(class='control-label col-md-1') 拍卖时间
                .col-md-6
                    .input-group
                        input(type='text', class='form-control form_datetime', id='start', name='start', placeholder='起拍时间', required, readonly, value='#{product.start.format("yyyy-MM-dd hh:mm")}')
                        span.input-group-addon -
                        input(type='text', class='form-control form_datetime', id='end', name='end', placeholder='结束时间', required, readonly, value='#{product.end.format("yyyy-MM-dd hh:mm")}')
            .form-group
                label(class='control-label col-md-1' for='catalog') 分类
                .col-md-3
                    -var catalog = product.catalog || ''
                    input(type='text', class='form-control', id='catalog', name='catalog', placeholder='分类', value='#{catalog}')
            .form-group
                label(class='control-label col-md-1' for='description') 描述
                .col-md-11
                    textarea(id='description', name='description') #{product.description}
            .form-group
                div(class='col-md-offset-1 col-md-3')
                    button(type='submit', class='btn btn-primary') 修改
block append script
    script(src='/javascripts/jquery.form.min.js')
    script(src='/javascripts/bootstrap-datetimepicker.min.js')
    script(src='/javascripts/bootstrap-datetimepicker.zh-CN.js')
    script(src='/javascripts/jquery.cleditor.min.js')
    script(src='/javascripts/fileinput.min.js')

    script(type='text/javascript').
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            todayBtn: true,
            language: 'zh-CN'
        });

        $(document).ready(function () {
            $('#oldPictures').fileinput('disable');
            $('#description').cleditor();
            $('#modifyProductForm').ajaxForm(function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    $('#modifyProductErr').html(responseJSON.msg).addClass('alert alert-danger')
                } else if (responseJSON.code == 'success') {
                    window.location.href = '/manage/products'
                }
            })
        });

        var initialPreview = new Array(),
                initialPreviewConfig = new Array(),
                pictures = !{JSON.stringify(product.pictures)}
        for (var index in pictures) {
            var img = '<img src="/images/' + pictures[index].name + '" class="file-preview-image">'
            initialPreview.push(img)
            var config = {}
            config.caption = pictures[index].originalname
            config.url = "/manage/deletePicture/#{product._id}"
            config.key = pictures[index].name
            initialPreviewConfig.push(config)
        }

        $('#oldPictures').fileinput({
            uploadUrl: '/manage/uploadPicture/#{product._id}',
            showUpload: false,
            showCaption:false,
            showRemove:false,
            dropZoneEnabled:false,
            browseClass: "oldPicturesButton",
            initialPreview: initialPreview,
            initialPreviewConfig: initialPreviewConfig
        })

        $('#pictures').fileinput({
            allowedFileTypes: ['image'],
            maxFileSize: 1000,
            showUpload: false,
            maxFileCount: 9
        })
