extends ../layout
block title
    title!=title
block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li.active
                a(href='/manage/products') 商品管理
            if user.type == 1
                li
                    a(href='/manage/users') 用户管理
            li
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/logout') 注销
block content
    ol.breadcrumb
        li.active!=title
    .container
        .col-md-6
            form(class='form-inline', method='post', action='/manage/products', id='searchForm')
                .input-group.col-md-3
                    select.form-control(id='status',name='status')
                        option(value='all') 全部
                        option(value='no') 未上架
                        option(value='yes') 已上架
                        option(value='ongoing') 正在拍卖
                        option(value='start') 还未开始
                        option(value='finish') 拍卖结束
                .input-group(class='col-md-9')
                    input(type='text', class='form-control', id='search', name='search', placeholder='关键词...')
                    span.input-group-btn
                        button(type='submit', class='btn btn-primary') 搜索
        .col-md-3
            a(href='/manage/addProduct', class='btn btn-primary') 添加商品
    hr
    #products.panel-group
        .panel.panel-default
            .panel-heading.noSpace
                h4.panel-title.noSpace
                    .container.text-center
                        .col-md-4.noSpace 商品描述
                        .col-md-1.noSpace 起拍价
                        .col-md-1.noSpace 状态
                        .col-md-1.noSpace 分类
                        .col-md-2.noSpace 更新时间
                        .col-md-3.noSpace 操作
        each product, index in products
            .panel.panel-default
                .container.noSpace.text-center
                    .col-md-4.product.noSpace
                        a(href='#bidder#{index}', data-toggle='collapse', data-parent='#products')
                            if product.pictures[0]
                                img(src='/images/#{product.pictures[0].name}', class='img-thumbnail')
                            else
                                img(src='/images/150x150.gif', class='img-thumbnail')
                            .description!=product.description
                    .col-md-1.noSpace #{product.startPrice.toFixed(2)}元
                    .col-md-1.noSpace
                        if product.status == 0
                            | 未上架
                        else if product.status == 1
                            if product.start > new Date
                                | 未开始拍卖
                            else if product.end < new Date
                                | 已结束拍卖
                            else
                                | 正在拍卖
                    .col-md-1.noSpace #{product.catalog}
                    .col-md-2.noSpace #{product.lastModify.format('yyyy-MM-dd hh:mm')}
                    .col-md-3.noSpace
                        .btn-group
                            a(href='/product/#{product._id}', target='_blank', class='btn btn-default') 预览
                            if product.status == 1
                                button(type='button', class='btn btn-warning', onclick='changeStatus("#{product._id}", #{product.status})') 下架
                            else if product.status == 0
                                button(type='button', class='btn btn-success', onclick='changeStatus("#{product._id}", #{product.status})') 上架
                            a(href='/manage/modifyProduct/#{product._id}', class='btn btn-info') 编辑
                            button(type='button', class='btn btn-danger', data-toggle='modal', data-target='#deleteModal', data-productid='#{product._id}') 删除
                .collapse.panel-collapse(id='bidder#{index}')
                    ul.list-group
                    each bidder in product.bidders
                        li.list-group-item(data-bidderid='#{bidder._id}')
                            .container
                                .col-md-6.noSpace
                                    | #{bidder.name} #{bidder.bidTime.format('yyyy-MM-dd hh:mm')} 出价 #{bidder.price.toFixed(2)}元，联系电话 #{bidder.phone}
                                .col-md-2
                                    button.btn.btn-primary.delBidder(type='button')
                                        span(class='glyphicon glyphicon-remove', aria-hidden='true') 删除
    .text-center
        ul(id='paginator')
    //删除确认对话框
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title 确认删除？
                .modal-body 将会删除该商品所关联的图片以及所有竞拍信息！
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 关闭
                    button#deleteButton.btn.btn-primary(type='button') 删除
block append script
    script(src='/javascripts/bootstrap-paginator.min.js')

    script(type='text/javascript').
        $(document).ready(function () {
            $('#status').val('#{status}')
        })

        var options = {
            currentPage: #{currentPage},
            totalPages: #{totalPages},
            bootstrapMajorVersion: 3,
            pageUrl: function (type, page, current) {
                return "/manage/products/" + page;
            }
        }
        $('#paginator').bootstrapPaginator(options);

        function changeStatus(id, status) {
            $.get('/manage/modifyProduct/' + id + '/' + status, function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    alert('服务器错误')
                } else if (responseJSON.code == 'success') {
                    window.location.href = '/manage/products'
                }
            })
        }
        $('body').on("click", '[data-toggle="modal"]', function () {
            var productid = $(this).data('productid');
            $(".modal-footer #deleteButton").data('productid', productid);
        });

        $('#deleteButton').click(function () {
            var id = $(this).data('productid')
            $.get('/manage/deleteProduct/' + id, function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    alert('服务器错误')
                } else if (responseJSON.code == 'success') {
                    window.location.href = '/manage/products'
                }
            })
        })

        $('.delBidder').click(function () {
            var $li = $(this).parent().parent().parent()
            var id = $li.data('bidderid')
            $.get('/manage/delBidder/' + id, function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    alert('服务器错误')
                } else if (responseJSON.code == 'success') {
                    $li.remove()
                }
            })
        })
