extends ../layout
block title
    title!=title
block nav
    div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav pull-right')
            li.active
                a(href='/manage/products') 商品管理
            if user.type == 1
                li
                    a(href='/manage/users') 用户管理
            li
                a(href='/manage/user') 资料管理
            li
                a(href='/manage/logout') 注销
block content
    ol.breadcrumb
        li.active!=title
    .container
        .col-md-6
            form(class='form-inline', method='post', action='/manage/products', id='searchForm')
                .input-group(class='col-md-12')
                    input(type='text', class='form-control', id='condition', name='condition', placeholder='关键词...', required)
                    span.input-group-btn
                        button(type='submit', class='btn btn-primary') 搜索
        .col-md-3
            a(href='/manage/addProduct', class='btn btn-primary') 添加商品
    hr
    table.table(class='table-striped')
        thead
            tr
                th 商品描述
                th 起拍价
                th 状态
                th 分类
                th 更新时间
                th 操作
        tbody
        each product in products
            tr.product
                td
                    a(href='/manage/product/#{product._id}', target='_blank')
                        img(src='/images/#{product.pictures[0].name}', class='img-thumbnail')
                        .description!=product.description
                td #{product.startPrice.toFixed(2)}元
                td
                    if product.status == 0
                        | 未上架
                    else if product.status == 1
                        if product.start > new Date
                            | 未开始拍卖
                        else if product.end < new Date
                            | 已结束拍卖
                        else
                            | 正在拍卖
                td #{product.catalog}
                td #{product.lastModify.format('yyyy-MM-dd hh:mm')}
                td
                    .btn-group
                        a(href='#', target='_blank', class='btn btn-info') 预览
                        a(href='/manage/modifyProduct/#{product._id}', class='btn btn-warning') 编辑
                        if product.status == 1
                            button(type='button', class='btn btn-danger', onclick='changeStatus("{#{product._id}", #{product.status})') 下架
                        else if product.status == 0
                            button(type='button', class='btn btn-success', onclick='changeStatus("#{product._id}", #{product.status})') 上架

    .text-center
        ul(id='paginator')


block append script
    script(src='/javascripts/bootstrap-paginator.min.js')

    script(type='text/javascript').
        var options = {
            currentPage: #{currentPage},
            totalPages: #{totalPages},
            bootstrapMajorVersion: 3,
            pageUrl: function (type, page, current) {
                return "/manage/products/" + page;
            }
        }
        $('#paginator').bootstrapPaginator(options);

        function changeStatus(id, status) {
            $.get('/manage/modifyProduct/' + id + '/' + status, function (responseJSON) {
                if (responseJSON.code == 'failed') {
                    alert('服务器错误')
                } else if (responseJSON.code == 'success') {
                    window.location.href = '/manage/products'
                }
            })
        }